.app-name {
    box-sizing: border-box;
    border: 1px solid #918686;
    border-radius: 8px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 136%;
    /* or 33px */
    
    text-align: center;
    
    color: #3E4958;
}

.app-img {
    width: 500px;
    height: 300px;
    border-radius: 20px;

    /* Inside auto layout */

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-box {
    box-sizing: border-box;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

    width: 711px;
    height: auto;

    border: 1px solid #918686;
    border-radius: 8px;
}

.app-categ {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height */


    color: #000000;
}

.app-text {
    font-family: 'Poppins';
    font-style: normal;
    width: 191px;
    height: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: #000000;

}

.app-entry {
    box-sizing: border-box;
    width: 289px;
    height: 31px;
    border: 1px solid #A9A9A9;
    border-radius: 8px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
    text-align: center;
}

.app-edit {
    display: flex;
}


.app-button {
    
    box-sizing: border-box;

    /* Auto layout */

    padding: 10px;
    margin: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 149.8%;
    /* or 36px */

    text-align: center;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(133, 193, 104, 0.5);
    border-radius: 30px;
}

.app-button:hover {
    background: #808981;
}

.deny-button {
    
    box-sizing: border-box;

    /* Auto layout */

    box-sizing: border-box;

    /* Auto layout */
    padding: 10px;
    margin: 20px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 149.8%;
    /* or 36px */

    text-align: center;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    background: rgba(193, 104, 136, 0.5);
    border-radius: 30px;
}

.deny-button:hover {
    background: #808981;
}

.return-button {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 3px;
    text-align: left;
    margin-left: 20px;

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);

}

.return-button:hover {
    background-color: #ddd;
    color: black;
}

.pop-button:hover {
    text-decoration: underline;
}