.listing-main {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 20px;
  margin: 20px;
  // gap: 11px;

  // position: absolute;
  width: 591px;
  height: 178px;
  padding: 10px;

  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;

  img {
    width: 203px;
    height: 158px;
    border-radius: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  button {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    background: rgba(219, 219, 254, 0.5);
    border-radius: 30px;

    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 149.8%;
    /* identical to box height, or 24px */

    text-align: center;

    color: #3E4958;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  p {
    margin: 5px;
    padding: 5px;
  }

  button:hover{
    background: rgba(88, 88, 94, 0.5);
  }
}
