.listing-main-user {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    margin: 20px;
    // gap: 11px;
  
    // position: absolute;
    width: 591px;
    height: 178px;
    padding: 10px;
  
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  
    img {
      width: 203px;
      height: 158px;
      border-radius: 20px;
  
      /* Inside auto layout */
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    button {
      box-sizing: border-box;
  
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;
      gap: 10px;
      background: rgba(219, 219, 254, 0.5);
      border-radius: 30px;
  
      font-family: 'Abel';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 149.8%;
      /* identical to box height, or 24px */
  
      text-align: center;
  
      color: #3E4958;
  
  
      /* Inside auto layout */
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    p {
      margin: 5px;
      padding: 5px;
    }
  
    button:hover{
      background: rgba(88, 88, 94, 0.5);
    }
  }

.listing-user {
    display: flex;
}

.listings-main-user {
    width: 50%;
    height: 100%;
    left: 20px;
    top: 20px;
  
    background: #0000 !important;
    border-radius: 20px;
}

.listings-details-user {
    width: 50%;
    height: 100%;
    left: 20px;
    top: 20px;
    margin-right: 50px;
    margin-left: 20px;
    margin-top: -50px;
    margin-bottom: 20px;

    background: #0000 !important;
    border-radius: 10px;

    //padding: 20px;
    //margin: 20px;
}

.listing-name-user {
  box-sizing: border-box;
  border: 1px solid #918686;
  border-radius: 8px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;


  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 136%;
  /* or 33px */
  
  text-align: center;
  
  color: #3E4958;
}

.listing-img-user {
  //width: 500px;
  //height: 300px;
  width: auto;
  height: auto;
  border-radius: 20px;

  /* Inside auto layout */

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desc-box-user {
  box-sizing: border-box;

  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  width: auto;
  //width: 711px;
  height: auto;

  border: 1px solid #918686;
  border-radius: 8px;
}

.listing-categ-user {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

.categ-text-user {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  /* or 19px */


  color: #000000;
}

.property-text-user {
  font-family: 'Poppins';
  font-style: normal;
  width: 191px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #000000;

}

.property-entry-user {
  box-sizing: border-box;
  width: 289px;
  height: 31px;
  border: 1px solid #A9A9A9;
  border-radius: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
  text-align: center;
}

.property-edit-user {
  display: flex;
}

.edit-button {
  box-sizing: border-box;

  /* Auto layout */


  background: rgba(219, 219, 254, 0.5);
  border-radius: 30px;
  padding: 10px;
  margin: 20px;

  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 149.8%;
  /* or 36px */

  text-align: center;

  color: #3E4958;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.edit-button:hover{
  background: rgba(88, 88, 94, 0.5);
}