.listing {
  display: flex;
}

.listings-details-user {
    width: 100%;
    height: 100%;

    background: #0000 !important;
    border-radius: 10px;

    margin: 20px;
    margin-right: 50px;
}

.listing-name-user {
  box-sizing: border-box;
  border: 1px solid #918686;
  border-radius: 8px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;


  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 136%;
  /* or 33px */
  
  text-align: center;
  
  color: #3E4958;
}

.listing-img-user {
  //width: 500px;
  //height: 300px;
  width: auto;
  height: auto;
  border-radius: 20px;

  /* Inside auto layout */

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.desc-box-user {
  box-sizing: border-box;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  padding: 10px;

  width: auto;
  height: auto;

  border: 1px solid #918686;
  border-radius: 8px;
}

.listing-categ-user {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  /* identical to box height */


  color: #000000;
}

.categ-text-user {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 136%;
  /* or 19px */


  color: #000000;
}

.property-text-user {
  font-family: 'Poppins';
  font-style: normal;
  width: 191px;
  height: 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #000000;

}

.property-entry-user {
  box-sizing: border-box;
  width: 289px;
  height: 31px;
  border: 1px solid #A9A9A9;
  border-radius: 8px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: #000000;
  text-align: center;
}

.property-edit-user {
  display: flex;
}


