.listing-main-user {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    // gap: 11px;
  
    // position: absolute;
    width: 591px;
    height: 178px;
    padding: 10px;
  
    background: #ffffff;
    //box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    //border-radius: 20px;

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    border-bottom-width: 1px;
    border-top-width: 1px;
  
    img {
      width: 25%;
      height: 75%;
      border-radius: 20px;
  
      /* Inside auto layout */
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    button {
      box-sizing: border-box;
  
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 30px;
      gap: 10px;
      background: rgba(219, 219, 254, 0.5);
      border-radius: 30px;
  
      font-family: 'Abel';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 149.8%;
      /* identical to box height, or 24px */
  
      text-align: center;
  
      color: #3E4958;
  
  
      /* Inside auto layout */
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    p {
      margin: 5px;
      padding: 5px;
    }
  
    button:hover{
      background: rgba(88, 88, 94, 0.5);
    }
  }

.listing-user {
    display: flex;
}

.listings-main-user {
    width: 50%;
    height: 100%;
    left: 20px;
    top: 20px;
  
    background: #0000 !important;
    border-radius: 20px;
}

.listing-main-user:hover {
  opacity: 80%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}